<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Anno</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/layui-v2.8.13/layui/css/layui.css" rel="stylesheet">
    <link href="lib/annotorious2.7.11/css/annotorious.min.css" rel="stylesheet">

    <script type="text/javascript" src="lib/jquery3.6.0/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="lib/layui-v2.8.13/layui/layui.js"></script>
    <script type="text/javascript" src="lib/annotorious2.7.11/js/annotorious.min.js"></script>
    <!-- Selector Pack plugin -->
    <script src="lib/annotorious2.7.11/js/annotorious-selector-pack.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">图像自动标注系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" id="todata">数据</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" id="tomodel">模型</a></li>
            <li class="layui-nav-item layui-nav-itemed layui-hide-xs"><a href="javascript:;" id="totask">任务</a></li>
            <li class="layui-nav-item"><a href="javascript:;" id="towork">标注</a></li>
            <li class="layui-nav-item"><a href="javascript:;" id="tocheck">校验</a></li>
            <li class="layui-nav-item"><a href="javascript:;">系统管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" id="touser">用户管理</a></dd>
                    <dd><a href="javascript:;" id="tolog">登录日志</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    Admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">个人主页</a></dd>
                    <dd><a href="javascript:;">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">选择</a></li>
                <li class="layui-nav-item"><a href="javascript:;">移动</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="POINT">点</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="RECTANGLE">矩形</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="POLYGON">多边形</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="SAVE">保存</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="layui-icon-prev">上一张</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="layui-icon-next">下一张</a></li>

            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card layui-panel">
                <div class="layui-card-body">
                    <form class="layui-form layui-row layui-col-space16">
                        <div class="layui-col-md4">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                </div>
                                <input type="text" name="A" value="" placeholder="请输入名称查询" class="layui-input" lay-affix="clear">
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="layui-input-wrap">
                                <button class="layui-btn" lay-submit lay-filter="demo-table-search">查询</button>
                                <button type="button" class="layui-btn layui-btn-primary layui-bg-red" lay-on="create-task"><span class="layui-badge-dot"></span>创建任务</button>
                            </div>
                        </div>

                    </form>
                    <table class="layui-hide" id="ID-table-demo-search"></table>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        图像标注软件v1
    </div>
</div>
<script type="text/html" id="barDemo">
    <div class="layui-clear-space">
<!--        <a class="layui-btn layui-btn-xs layui-bg-red" lay-event="auto_anno">自动标注</a>-->
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
        <!--        <a class="layui-btn layui-btn-xs" lay-event="more">-->
        <!--            更多-->
        <!--            <i class="layui-icon layui-icon-down"></i>-->

        <!--        </a>-->
    </div>
</script>
<script>
    layui.use('table',function(){
        var table = layui.table;
        var form = layui.form;
        var util = layui.util;
        var layer = layui.layer;

        // 创建表格实例
        table.render({
            elem: '#ID-table-demo-search',
            url: '/imageanno/task/list', // 此处为静态模拟数据，实际使用时需换成真实接口
            cols:
                [
                    [
                        {type: 'radio', title: '😊', fixed: true}, // 单选框
                        {field:'taskId', title: 'taskId', sort: true,hide:true},
                        {field:'taskName', title: '任务名', width:130},
                        {field:'taskStatus', title: '状态', width:160, templet: function (d) {
                            if(d.taskStatus === 0){
                                var html = '<div style="background-color: #eeeeee;padding-top:10px "> <div style="margin:0 5px; background-color: #e2e2e2 !important;" class="layui-progress " lay-showPercent="true" >';
                                html += '<div class="layui-progress-bar layui-bg-gray " style="width: 0%" lay-percent="' + (0).toFixed(2) + '%"></div>';
                                html += '</div><div style="line-height: 20px;font-size:12px">' + '新建' + '</div></div>'
                                return html;
                            }if(d.taskStatus === 1){
                                    var html = '<div style="background-color: #eeeeee;padding-top:10px "> <div style="margin:0 5px; background-color: #e2e2e2 !important;" class="layui-progress " lay-showPercent="true" >';
                                    html += '<div class="layui-progress-bar layui-bg-orange "  style="width: 50%"></div>';
                                    html += '</div><div style="line-height: 20px;font-size:12px">' + '手工标注中' + '</div></div>'
                                    return html;
                            }if(d.taskStatus === 2){
                                    var html = '<div style="background-color: #eeeeee;padding-top:10px "> <div style="margin:0 5px; background-color: #e2e2e2 !important;" class="layui-progress " lay-filter="taskStatus-filter-progress" lay-showPercent="true" >';
                                    html += '<div class="layui-progress-bar layui-bg-orange " style="width: 100%" lay-percent="' + (1) + '%"></div>';
                                    html += '</div><div style="line-height: 20px;font-size:12px">' + '手工标注完成' + '</div></div>'
                                    return html;
                            }if(d.taskStatus === 3){
                                    var html = '<div style="background-color: #eeeeee;padding-top:10px "> <div style="margin:0 5px; background-color: #e2e2e2 !important;" class="layui-progress " lay-showPercent="true" >';
                                    html += '<div class="layui-progress-bar layui-bg-red " style="width: 50%" lay-percent="' + (49/100).toFixed(2) + '%"></div>';
                                    html += '</div><div style="line-height: 20px;font-size:12px">' + '自动标注中' + '</div></div>'
                                    return html;
                            }if(d.taskStatus === 4){
                                    var html = '<div style="background-color: #eeeeee;padding-top:10px "> <div style="margin:0 5px; background-color: #e2e2e2 !important;" class="layui-progress " lay-showPercent="true" >';
                                    html += '<div class="layui-progress-bar layui-bg-red " style="width: 100%" lay-percent="' + (100/100).toFixed(2) + '%"></div>';
                                    html += '</div><div style="line-height: 20px;font-size:12px">' + '自动标注完成' +'</div></div>'
                                    return html;
                            }if(d.taskStatus === 5){
                                    var html = '<div style="background-color: #eeeeee;padding-top:10px "> <div style="margin:0 5px; background-color: #e2e2e2 !important;" class="layui-progress " lay-showPercent="true" >';
                                    html += '<div class="layui-progress-bar layui-bg-green " style="width: 50%" lay-percent="' + (49/100).toFixed(2) + '%"></div>';
                                    html += '</div><div style="line-height: 20px;font-size:12px">' + '人工校验中'  + '</div></div>'
                                    return html;
                            }if(d.taskStatus === 6){
                                    var html = '<div style="background-color: #eeeeee;padding-top:10px "> <div style="margin:0 5px; background-color: #e2e2e2 !important;" class="layui-progress " lay-showPercent="true" >';
                                    html += '<div class="layui-progress-bar layui-bg-green " lay-percent="' + (100/100).toFixed(2) + '%"></div>';
                                    html += '</div><div style="line-height: 20px;font-size:12px">' + '人工校验完成' + '</div></div>'
                                    return html;
                            }else {return "";}
                            }},
                        {field:'taskType', title: '标注类型', width:130 ,templet:function (d) {
                                if(d.taskType === 0){
                                    return "语义标注";
                                }if(d.taskType === 1){
                                    return "目标检测标注";
                                }if(d.taskType === 2){
                                    return "图像分割标注";
                                }if(d.taskType === 3){
                                    return "3D信息标注";
                                }
                            }},
                        {field:'taskWay', title: '标注方式', width:130,templet:function (d) {
                                if(d.taskWay === 0){
                                    return "手工标注";
                                }if(d.taskWay === 1){
                                    return "自动标注";
                                }
                            }},
                        {field:'dataName', title: '数据集名', width:130},
                        {field:'modelName', title: '标注模型', width:150},
                        {field:'createTime', title: '创建时间',width: 200, sort: true,templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                        {field:'updateTime', title: '更新时间',width: 200, sort: true,templet: "<div>{{layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                        {field:'creator', title: '创建人',width: 80},
                        {fixed:'', title:'操作', toolbar: '#barDemo'},
                    ]
                ],
            limits: [10, 20, 50, 100],
            limit: 10,
            page: true,
            skin: 'row',
            even: true,
            height: 310,
        });

        // 触发单元格工具事件
        table.on('tool(ID-table-demo-search)', function(obj){
            var data = obj.data; // 获得当前行数据
            var taskId = data.taskId;
            // console.log(obj)
            if(obj.event === 'auto_anno'){

            } else if(obj.event === 'edit'){
                console.log("edit")
                layer.open({
                    type: 1,
                    area: '500px',
                    resize: false,
                    shadeClose: true,
                    title: '修改任务',
                    content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">任务名称<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="text" name="taskName" value="" lay-verify="required" placeholder="任务名"  autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">标注类型<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="radio" name="taskType" value="1" title="语义标注" disabled>
                  <input type="radio" name="taskType" value="2" title="目标检测标注" checked>
                  <input type="radio" name="taskType" value="3" title="图像分割标注" disabled>
                  <input type="radio" name="taskType" value="3" title="3D信息标注" disabled>
                </div>
              </div>
              <div class="layui-form-item">标注方式<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="radio" name="taskWay" value="1" title="手工标注">
                  <input type="radio" name="taskWay" value="2" title="自动标注" checked>
                </div>
              </div>
              <div class="layui-form-item">数据集<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <select name="dataName">
                      <option value="">选择数据集</option>
                      <option name="dataName" value="AAA">测试数据集1</option>
                      <option name="dataName" value="BBB" >测试数据集2</option>
                      <option name="dataName" value="CCC">测试数据集3</option>
                      <option name="dataName" value="CCC" disabled>测试数据集4</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">标注模型<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <select name="modelName">
                      <option value="">选择标注模型</option>
                      <option name="modelName" value="AAA">YOLOv5s-LTOEI</option>
                      <option name="modelName" value="BBB" >YOLOv5s</option>
                      <option name="modelName" value="BBB" >无</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-login">确定</button>
              </div>
            </div>
          </div>
        `,
                    success: function(){
                        // 对弹层中的表单进行初始化渲染
                        form.render();
                        // 表单提交事件
                        form.on('submit(demo-login)', function(data){
                            var field = data.field; // 获取表单字段值
                            // 显示填写结果，仅作演示用
                            layer.alert(JSON.stringify(field), {
                                title: '当前填写的字段值'
                            });
                            // 此处可执行 Ajax 等操作
                            // …
                            return false; // 阻止默认 form 跳转
                        });
                    }
                });
            }  else if(obj.event === 'del'){
                console.log("del")
            }else if(obj.event === 'down_anno'){
                //1.获取本地下载地址
                layer.prompt({title: '请输入本地下载地址'}, function(value, index, elem){
                    if(value === '') return elem.focus();
                    const escape = util.escape(value);
                    layer.msg('获得：'+ escape); // 显示 value
                    // 关闭 prompt
                    layer.close(index);
                });

            }
        });

        // 搜索提交
        form.on('submit(demo-table-search)', function(data){
            var field = data.field; // 获得表单字段
            // 执行搜索重载
            table.reload('ID-table-demo-search', {
                page: {
                    curr: 1 // 重新从第 1 页开始
                },
                where: field // 搜索的字段
            });
            layer.msg('搜索成功<br>此处为静态模拟数据，实际使用时换成真实接口即可');
            return false; // 阻止默认 form 跳转
        });

        //弹出层-创建任务事件
        util.on('lay-on', {
            'create-task': function(){
                layer.open({
                    type: 1,
                    area: '500px',
                    resize: false,
                    shadeClose: true,
                    title: '创建任务',
                    content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">任务名称<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="text" name="taskName" value="" lay-verify="required" placeholder="任务名"  autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">标注类型<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="radio" name="taskType" value="1" title="语义标注" disabled>
                  <input type="radio" name="taskType" value="2" title="目标检测标注" checked>
                  <input type="radio" name="taskType" value="3" title="图像分割标注" disabled>
                  <input type="radio" name="taskType" value="3" title="3D信息标注" disabled>
                </div>
              </div>
              <div class="layui-form-item">标注方式<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="radio" name="taskWay" value="1" title="手工标注">
                  <input type="radio" name="taskWay" value="2" title="自动标注" checked>
                </div>
              </div>
              <div class="layui-form-item">数据集<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <select name="dataName">
                      <option value="">选择数据集</option>
                      <option name="dataName" value="AAA">测试数据集1</option>
                      <option name="dataName" value="BBB" >测试数据集2</option>
                      <option name="dataName" value="CCC">测试数据集3</option>
                      <option name="dataName" value="CCC" disabled>测试数据集4</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">标注模型<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <select name="modelName">
                      <option value="">选择标注模型</option>
                      <option name="modelName" value="AAA">YOLOv5s-LTOEI</option>
                      <option name="modelName" value="BBB" >YOLOv5s</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-login">确定</button>
              </div>
            </div>
          </div>
        `,
                    success: function(){
                        // 对弹层中的表单进行初始化渲染
                        form.render();
                        // 表单提交事件
                        form.on('submit(demo-login)', function(data){
                            var field = data.field; // 获取表单字段值
                            // 显示填写结果，仅作演示用
                            layer.alert(JSON.stringify(field), {
                                title: '当前填写的字段值'
                            });
                            // 此处可执行 Ajax 等操作
                            // …
                            return false; // 阻止默认 form 跳转
                        });
                    }
                });
            }
        })

    });

    $('#todata').on("click", function () {
        window.location.href = '/imageanno/data';
    });
    $('#tomodel').on("click", function () {
        window.location.href = '/imageanno/model';
    });
    $('#towork').on("click", function () {
        window.location.href = '/imageanno/work';
    });
    $('#tocheck').on("click", function () {
        window.location.href = '/imageanno/check';
    });
    $('#touser').on("click", function () {
        window.location.href = '/imageanno/user';
    });
    $('#tolog').on("click", function () {
        window.location.href = '/imageanno/log';
    });
</script>
</body>
</html>