<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Anno</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/layui-v2.8.13/layui/css/layui.css" rel="stylesheet">
    <link href="lib/annotorious2.7.11/css/annotorious.min.css" rel="stylesheet">

    <script type="text/javascript" src="lib/jquery3.6.0/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="lib/layui-v2.8.13/layui/layui.js"></script>
    <script type="text/javascript" src="lib/annotorious2.7.11/js/annotorious.min.js"></script>
    <!-- Selector Pack plugin -->
    <script src="lib/annotorious2.7.11/js/annotorious-selector-pack.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">Image Anno</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" id="todata">数据集</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" id="tomodel">模型</a></li>
            <li class="layui-nav-item layui-nav-itemed layui-hide-xs"><a href="javascript:;" id="totask">任务</a></li>
            <li class="layui-nav-item"><a href="javascript:;" id="towork">工作台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    tester
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">Your Profile</a></dd>
                    <dd><a href="javascript:;">Settings</a></dd>
                    <dd><a href="javascript:;">Sign out</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">选择</a></li>
                <li class="layui-nav-item"><a href="javascript:;">移动</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="POINT">点</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="RECTANGLE">矩形</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="POLYGON">多边形</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="SAVE">保存</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="layui-icon-prev">上一张</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="layui-icon-next">下一张</a></li>

            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card layui-panel">
                <div class="layui-card-body">
                    <form class="layui-form layui-row layui-col-space16">
                        <div class="layui-col-md4">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                </div>
                                <input type="text" name="A" value="" placeholder="请输入名称查询" class="layui-input" lay-affix="clear">
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="layui-input-wrap">
                                <button class="layui-btn" lay-submit lay-filter="demo-table-search">查询</button>
                                <button type="button" class="layui-btn layui-btn-primary layui-bg-red" lay-on="create-task"><span class="layui-badge-dot"></span>创建任务</button>
                            </div>
                        </div>

                    </form>
                    <table class="layui-hide" id="ID-table-demo-search"></table>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>
<script type="text/html" id="barDemo">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs layui-bg-red" lay-event="auto_anno">智能标注</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="more">
            更多
            <i class="layui-icon layui-icon-down"></i>
        </a>
    </div>
</script>
<script>
    layui.use('table',function(){
        var table = layui.table;
        var form = layui.form;
        var util = layui.util;

        // 创建表格实例
        table.render({
            elem: '#ID-table-demo-search',
            url: '/imageanno/task/list', // 此处为静态模拟数据，实际使用时需换成真实接口
            cols:
                [
                    [
                        {type: 'radio', title: '😊', fixed: true}, // 单选框
                        {field:'id', title: 'ID', width:40, sort: true, fixed: true},
                        {field:'taskId', title: 'taskId', hide:true},
                        {field:'taskName', title: '任务名', width:120},
                        {field:'taskStatus', title: '状态', width:120},
                        {field:'taskType', title: '标注类型', width:100},
                        {field:'dataName', title: '数据集名', width:130},
                        {field:'tag', title: '标签集',width: 120},
                        {field:'taskWay', title: '标注方式', width:100},
                        {field:'modelName', title: '标注模型', width:120},
                        {fixed: '', title:'操作', toolbar: '#barDemo'},
                        {field:'createTime', title: '创建时间',width: 100, sort: true},
                        {field:'updateTime', title: '更新时间',width: 100, sort: true},
                        {field:'creator', title: '创建人',width: 80},
                    ]
                ],
            limits: [10, 20, 50, 100],
            limit: 10,
            page: true,
            skin: 'row',
            even: true,
            height: 310,
        });

        // 触发单元格工具事件
        table.on('tool(ID-table-demo-search)', function(obj){ // 双击 toolDouble
            var data = obj.data; // 获得当前行数据
            var taskId = data.taskId;
            // console.log(obj)
            if(obj.event === 'auto_anno'){
                // window.location.href = '/imageanno/manualAnno?taskId='+taskId;
                console.log("auto_anno")
            } else if(obj.event === 'more'){
                console.log("more")
            }
        });

        // 搜索提交
        form.on('submit(demo-table-search)', function(data){
            var field = data.field; // 获得表单字段
            // 执行搜索重载
            table.reload('ID-table-demo-search', {
                page: {
                    curr: 1 // 重新从第 1 页开始
                },
                where: field // 搜索的字段
            });
            layer.msg('搜索成功<br>此处为静态模拟数据，实际使用时换成真实接口即可');
            return false; // 阻止默认 form 跳转
        });

        //弹出层-创建任务事件
        util.on('lay-on', {
            'create-task': function(){
                layer.open({
                    type: 1,
                    area: '500px',
                    resize: false,
                    shadeClose: true,
                    title: '创建标注任务',
                    content: `
          <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">任务名称<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="text" name="taskName" value="" lay-verify="required" placeholder="任务名"  autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
              </div>
              <div class="layui-form-item">标注类型<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="radio" name="taskType" value="1" title="图像分类" disabled>
                  <input type="radio" name="taskType" value="2" title="物体检测" checked>
                  <input type="radio" name="taskType" value="3" title="图像分割" disabled>
                </div>
              </div>
              <div class="layui-form-item">数据集<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <select name="dataName">
                      <option value="">选择数据集</option>
                      <option name="dataName" value="AAA">选项 A</option>
                      <option name="dataName" value="BBB" disabled>选项 B（禁用选项）</option>
                      <option name="dataName" value="CCC">选项 C</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">标签集<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <textarea name="tag" placeholder="输入标签，请以逗号,分割" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item">标注方式<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <input type="radio" name="taskWay" value="1" title="手工标注">
                  <input type="radio" name="taskWay" value="2" title="智能标注" checked>
                </div>
              </div>
              <div class="layui-form-item">标注模型<span style="color: red;">*</span>
                <div class="layui-input-wrap">
                  <select name="modelName">
                      <option value="">选择标注模型</option>
                      <option name="modelName" value="AAA">选项 A</option>
                      <option name="modelName" value="BBB" disabled>选项 B（禁用选项）</option>
                      <option name="modelName" value="CCC">选项 C</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-login">确定</button>
              </div>
            </div>
          </div>
        `,
                    success: function(){
                        // 对弹层中的表单进行初始化渲染
                        form.render();
                        // 表单提交事件
                        form.on('submit(demo-login)', function(data){
                            var field = data.field; // 获取表单字段值
                            // 显示填写结果，仅作演示用
                            layer.alert(JSON.stringify(field), {
                                title: '当前填写的字段值'
                            });
                            // 此处可执行 Ajax 等操作
                            // …
                            return false; // 阻止默认 form 跳转
                        });
                    }
                });
            }
        })

    });

    $('#todata').on("click", function () {
        window.location.href = '/imageanno/data';
    });
    $('#tomodel').on("click", function () {
        window.location.href = '/imageanno/model';
    });
    $('#towork').on("click", function () {
        window.location.href = '/imageanno/work';
    });

</script>
</body>
</html>