<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Anno</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/layui-v2.8.13/layui/css/layui.css" rel="stylesheet">
    <link href="lib/annotorious2.7.11/css/annotorious.min.css" rel="stylesheet">

    <script type="text/javascript" src="lib/jquery3.6.0/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="lib/layui-v2.8.13/layui/layui.js"></script>
    <script type="text/javascript" src="lib/annotorious2.7.11/js/annotorious.min.js"></script>
    <!-- Selector Pack plugin -->
    <script src="lib/annotorious2.7.11/js/annotorious-selector-pack.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">Image Anno</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" id="todata">数据集</a></li>
            <li class="layui-nav-item layui-hide-xs"><a class="" href="javascript:;" id="tomodel">模型</a></li>
            <li class="layui-nav-item layui-hide-xs"><a class="" href="javascript:;" id="totask">任务</a></li>
            <li class="layui-nav-item"><a href="javascript:;">工作台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    tester
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">Your Profile</a></dd>
                    <dd><a href="javascript:;">Settings</a></dd>
                    <dd><a href="javascript:;">Sign out</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">选择</a></li>
                <li class="layui-nav-item"><a href="javascript:;">移动</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="POINT">点</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="RECTANGLE">矩形</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="POLYGON">多边形</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="SAVE">保存</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="layui-icon-prev">上一张</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="layui-icon-next">下一张</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote layui-text">
                <button class="layui-btn demo-dropdown-base">
                    <span>选择任务</span>
                    <i class="layui-icon layui-icon-down layui-font-12"></i>
                </button>
            </blockquote>
            <div class="layui-card layui-panel">
<!--                <div class="layui-card-header">-->
<!--                </div>-->
                <div class="layui-card-body">
                    <img id="IMAGE" src="img/1280px-Hallstatt.jpg">
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        当前任务：<span class="layui-badge-rim" id ="current-task-name"></span>
        文件：<span class="layui-badge-rim" id ="current-file-name"></span>
        <span class="layui-badge-rim" id ="current-file-rate"></span>
        <span class="layui-badge-rim" id ="current-task-id" style="display: none"></span>
        <i class="layui-icon layui-icon-eye-invisible" id="show-anno"></i>
    </div>
</div>


<script>
    layui.use(['element', 'layer', 'util'], function(){
        var layer = layui.layer;
        var util = layui.util;
        var dropdown = layui.dropdown;
        var tagItems = ['apple', 'orange', 'banana'];
        var fileItems = [];
        var currentFile = 0;
        var regions = [];
        //头部事件
        util.event('lay-header-event', {
            menuLeft: function(othis){ // 左侧菜单事件
                layer.msg('展开左侧菜单的操作', {icon: 0});
            },
            menuRight: function(){  // 右侧菜单事件

                const con = `
                      <div class="layui-panel">标签<span style="color: red;">*</span>
                          <ul>
                            ${tagItems.map(item => `<li><span class="layui-badge-dot layui-bg-orange"></span>${item}</li>`).join('')}
                          </ul>
                      </div>
                      <div class="layui-panel">对象<span style="color: red;">*</span>
                           <ul>
                            ${regions.map(item => `<li><input type="radio" name="AAA" value="1" title="默认">${item}</li>`).join('')}
                           </ul>
                      </div>
                      <div class="layui-panel">文件<span style="color: red;">*</span>
                           <ul>
                            ${fileItems.map(item => `<li><input type="radio" name="AAA" value="1" title="默认" >${item}</li>`).join('')}
                           </ul>
                      </div>
                    `;
                layer.open({
                    type: 1,
                    title: '标注信息',
                    content: con,
                    area: ['260px', '100%'],
                    offset: 'rt', // 右上角
                    anim: 'slideLeft', // 从右侧抽屉滑出
                    shadeClose: true,
                    scrollbar: false
                });
            }
        });

        //更新任务下拉菜单
        $.ajax({
            url: "/imageanno/work/task_list",
            dataType: "json",
            type:"GET",
            success: function (data) {
                var info = JSON.parse(data.info);
                console.log(info);//下面会提到这个data是什么值
                // 绑定输入框
                dropdown.render({
                    elem: '.demo-dropdown-base',
                    data: info,
                    click: function(obj){
                      var taskId = obj.id;
                      //选中后，
                        $.ajax({
                            url: "/imageanno/work/manual_anno",
                            data: {"taskId":taskId},
                            type:"get",
                            success: function (data) {
                                console.log(data);//下面会提到这个data是什么值
                                var info = JSON.parse(data.info);
                                // $("#current-task-name").attr("innerText","222");
                                //1
                                document.getElementById('current-task-name').innerHTML = info.task.taskName;
                                document.getElementById('current-task-id').innerHTML = info.task.taskId;
                                //2
                                var currentTag = info.task.tag;
                                tagItems = currentTag.split(",");
                                //3.
                                fileItems = info.fileName;
                                $("#IMAGE").attr("src",fileItems[currentFile]);
                                document.getElementById('current-file-name').innerHTML = fileItems[currentFile];
                                document.getElementById('current-file-rate').innerHTML = (currentFile+1) +"/" + fileItems.length;

                            }
                        })
                    },
                    style: 'min-width: 235px;'
                });
            }
        })
        $('#layui-icon-next').on("click", function () {
            currentFile++;
            if(currentFile >= fileItems.length)currentFile = fileItems.length-1;
            $("#IMAGE").attr("src",fileItems[currentFile]);
            document.getElementById('current-file-name').innerHTML = fileItems[currentFile];
            document.getElementById('current-file-rate').innerHTML = (currentFile+1) +"/" + fileItems.length;
        });
        $('#layui-icon-prev').on("click", function () {
            currentFile--;
            if(currentFile < 0)currentFile = 0;
            $("#IMAGE").attr("src",fileItems[currentFile]);
            document.getElementById('current-file-name').innerHTML = fileItems[currentFile];
            document.getElementById('current-file-rate').innerHTML = (currentFile+1) +"/" + fileItems.length;
        });

        var config = {
            image: document.getElementById('IMAGE'),
            readOnly: false,
            locale: 'auto',
            drawOnSingleClick: true,
            enableEdgeControls: true,
            widgets: [
                { widget: 'TAG' ,vocabulary: [ '人', '火车', '信号灯']},
                // { widget: 'TAG', vocabulary: [ 'Animal', 'Building', 'Waterbody'] }
            ]
        };

        var anno = Annotorious.init(config);



        anno.setAuthInfo({
            id: 'http://www.example.com/rainer',
            displayName: 'rainer'
        });

        // INIT TOOL PLUG
        Annotorious.SelectorPack(anno, {tools: ['line','point','rect', 'polygon']});

        //事件【创建新对象】
        anno.on('createAnnotation', function(annotation, overrideId) {
            const len = regions.length;
            regions.push("#"+(len+1)+" "+annotation.body[0].value);
        });
        anno.on('updateAnnotation', function(annotation, previous) {
            let length = annotation.body.length;
            for (var i = 0;i <length;i++){
                console.log(annotation.body[i].value)
            }
            console.log(annotation.target.selector.value)
        });
        //
        $('#SAVE').on("click", function () {
            var tagVal = [];
            const annotations = anno.getAnnotations();
            console.log(annotations)
            for (var i =0 ;i<annotations.length;i++){
                var annotation = annotations[i];
                var regions={};
                const selector = annotation.target.selector;
                var selectorType = "";
                var selectorValue = "";
                if(selector instanceof Array){
                    selectorType = selector[0].type;
                    selectorValue = selector[0].value;
                }else if(selector instanceof Object){
                    selectorType = selector.type;
                    selectorValue = selector.value;
                }
                if(selectorType === "FragmentSelector"){
                    regions= {"type":"rect","tag":annotation.body[0].value,"location":selectorValue.split(":")[1]};
                    var temp = annotation.target.renderedVia;
                    if(temp!=null && temp.name === "point"){
                        regions.type = "point";
                    }
                }else if(selectorType ==="SvgSelector"){
                    regions = {"type":"polygon","tag":annotation.body[0].value,"location":selectorValue.split("\"")[1]};
                }
                tagVal.push(regions);
            }
            var tagSave = {"regions":tagVal,
                "fileName":fileItems[currentFile],
                "width":document.getElementById('IMAGE').naturalWidth,
                "height":document.getElementById('IMAGE').naturalHeight,
                "currentTaskId": document.getElementById('current-task-id').innerHTML};

            var jsonString = JSON.stringify(tagSave);
            console.log(jsonString);
            $.ajax({
                url:"/imageanno/work/saveAnno",
                dataType: "json",
                contentType:"application/json",
                data:jsonString,
                type:"POST",
                success:function (data) {
                    console.log(data);
                    alert(data.info);

                },
            });

        });

        $('#RECTANGLE').on("click", function () {
            anno.setDrawingTool('rect');
        });
        $('#POLYGON').on("click", function () {
            anno.setDrawingTool('polygon');
        });
        $('#POINT').on("click", function () {
            anno.setDrawingTool('point');
        });
        $('#show-anno').on("click", function () {
            var themeIcon = document.getElementById('show-anno');
            if(themeIcon.classList.contains("layui-icon-eye")){
                themeIcon.classList.add("layui-icon-eye-invisible");
                themeIcon.classList.remove("layui-icon-eye");
                //关闭
                anno.clearAnnotations();
            }
            else{
                themeIcon.classList.add("layui-icon-eye");
                themeIcon.classList.remove("layui-icon-eye-invisible");
                //开启
                $.ajax({
                    url:"/imageanno/work/showAnno",
                    data:{
                        "currentTaskId": document.getElementById('current-task-id').innerHTML,
                        "fileName":fileItems[currentFile]
                    },
                    type:"POST",
                    dataType : "json",
                    success:function (data) {
                        console.log(data);
                        if(data != null)
                        anno.setAnnotations(data);
                    }
                });
            }
        });
    });


    $('#totask').on("click", function () {
        window.location.href = '/imageanno/task';
    });
    $('#todata').on("click", function () {
        window.location.href = '/imageanno/data';
    });
    $('#tomodel').on("click", function () {
        window.location.href = '/imageanno/model';
    });

</script>

</body>
</html>